<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- Note: 头文件需要引入，比如这个DTD，不引入的话，某些标签用不了 -->
<configuration>
    <!--Note: 配置MyBatis运行环境-->
    <environments default="development">
        <!-- Note: environments是列表形式，用于多环境配置部署 -->
        <environment id="development">
            <!-- Note: 事务管理，交给JDBC -->
            <transactionManager type="JDBC"></transactionManager>
            <!-- Note：数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <!-- Note: &amp; 是一个转义字符，相当于& -->
                <property name="url" value="jdbc:mysql://10.4.18.100:3306/hqtest?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <!-- Note: 注册mapper.xml文件 -->
    <mappers>
        <mapper resource="com/hq/mapper/PeopleMapper.xml"></mapper>
        <mapper resource="com/hq/repository/PeopleRepository.xml"></mapper>
    </mappers>
</configuration>